* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    font-size: 62.2%;
}

body {
    
    font-size: 1.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 5%;

    text-align: center;
}

h1 {
    color: #134a81;
    font-size: 2.6rem;
    margin-bottom: 5%;
}

input {
    font-size: 1.6rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
    outline: none;
 
   
}

input:focus {
    border: none;
    box-shadow: 0 0 0.5rem #134a81;
}

button {
    background-color: #fff;
    color: #134a81;
    border: 1px solid #134a81;

    width: 100%;
    margin-top: 1rem;
    padding: 1rem;

    transition: all .2s;
}

button:hover {
    background-color: #134a81;
    color: #fff;


    cursor: pointer;
}


#resultado {

    width: auto;
    color: #212529;

    font-weight: bold;

    margin-top: 5%;

}



@media only screen and (max-width: 600px) {

html {

    font-size: 50%;

}



}